body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:434px;
  width:750px;
  height:1334px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:810px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:397px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:285px;
  width:1534px;
  height:623px;
  overflow:hidden;
}
#u1232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:623px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:651px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:651px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:651px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:591px;
  width:651px;
  height:651px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:318px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:1740px;
  width:318px;
  height:318px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:884px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:-279px;
  top:1225px;
  width:884px;
  height:884px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:434px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:870px;
  width:1440px;
  height:38px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:882px;
  width:171px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFCACA;
  text-align:center;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:46px;
  width:99px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFCACA;
  text-align:center;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:920px;
  height:22px;
}
#u1248p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:902px;
  height:4px;
}
#u1248p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:904px;
  height:6px;
}
#u1248p001 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1248p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1248p002 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1248p002_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u1248.compound {
  width:0px;
  height:0px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:104px;
  width:900px;
  height:2px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-7px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:125px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1250_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1250.mouseOver {
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:125px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1252_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1252.mouseOver {
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:125px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1254_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1254.mouseOver {
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:618px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:218px;
  width:900px;
  height:618px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:301px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:57px;
  width:300px;
  height:170px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:57px;
  width:300px;
  height:170px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:107px;
  width:300px;
  height:170px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:82px;
  width:300px;
  height:170px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:0px;
  width:300px;
  height:170px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:175px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:104px;
  width:139px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:211px;
  width:113px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:507px;
  width:97px;
  height:115px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:500px;
  width:97px;
  height:115px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:598px;
  width:97px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:42px;
  width:300px;
  height:170px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:52px;
  width:300px;
  height:170px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:52px;
  width:300px;
  height:170px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:137px;
  width:300px;
  height:170px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:179px;
  width:220px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1292_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1292.mouseOver {
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u1294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:218px;
  width:220px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1294_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1294.mouseOver {
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
#u1296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:257px;
  width:220px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1296_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1296.mouseOver {
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:216px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u1228.a {
  left:0px;
  top:0px;
  width:1024px;
  height:1822px;
}
#u1228_img.a {
  width:1024px;
  height:1822px;
}
#u1229.a {
  top:903px;
  width:1020px;
}
#u1230.a {
}
#u1230_img.a {
}
#u1231.a {
}
#u1232.a {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:285px;
  width:1534px;
  height:623px;
}
#u1233.a {
}
#u1233_img.a {
}
#u1234.a {
}
#u1235.a {
}
#u1235_img.a {
}
#u1236.a {
}
#u1237.a {
}
#u1237_img.a {
}
#u1238.a {
}
#u1239.a {
}
#u1239_img.a {
}
#u1240.a {
}
#u1232_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u1242.a {
  top:1773px;
  width:1024px;
  height:49px;
}
#u1242_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243.a {
  top:16px;
  width:1020px;
}
#u1244.a {
  left:387px;
  top:1787px;
}
#u1244_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
}
#u1245.a {
}
#u1246.a {
  left:403px;
  top:42px;
  width:219px;
  height:68px;
}
#u1246_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFCACA;
  text-align:center;
}
#u1247.a {
  width:219px;
}
#u1248.a {
  left:62px;
  top:164px;
}
#u1248_img.a {
}
#u1248p000.a {
}
#u1248p000_img.a {
}
#u1248p001.a {
}
#u1248p001_img.a {
}
#u1248p002.a {
}
#u1248p002_img.a {
}
#u1249.a {
}
#u1250.a {
  left:529px;
  top:135px;
}
#u1250_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1250_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1250.a.mouseOver {
}
#u1251.a {
}
#u1252.a {
  left:295px;
  top:135px;
}
#u1252_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1252_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1252.a.mouseOver {
}
#u1253.a {
}
#u1254.a {
  left:62px;
  top:135px;
}
#u1254_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1254_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u1254.a.mouseOver {
}
#u1255.a {
}
#u1256.a {
  left:62px;
}
#u1256_img.a {
}
#u1257.a {
}
#u1259.a {
  left:62px;
  top:47px;
  width:79px;
  height:59px;
}
#u1259_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260.a {
  top:22px;
  width:75px;
}
#u1261.a {
  left:62px;
  top:47px;
  width:79px;
  height:9px;
}
#u1261_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1262.a {
  top:-4px;
  width:75px;
}
#u1263.a {
  left:62px;
  top:97px;
  width:79px;
  height:9px;
}
#u1263_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1264.a {
  top:-4px;
  width:75px;
}
#u1265.a {
  left:62px;
  top:72px;
  width:79px;
  height:9px;
}
#u1265_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266.a {
  top:-4px;
  width:75px;
}
#u1268.a {
  left:0px;
  width:640px;
  height:1822px;
}
#u1268_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1822px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 202, 202, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269.a {
  top:903px;
  width:636px;
}
#u1270.a {
  left:101px;
  top:201px;
  width:195px;
  height:75px;
}
#u1270_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1270.a.mouseOver {
}
#u1271.a {
  width:195px;
}
#u1272.a {
  left:101px;
  top:374px;
  width:281px;
  height:75px;
}
#u1272_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1272_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1272.a.mouseOver {
}
#u1273.a {
  width:281px;
}
#u1274.a {
  left:101px;
  top:893px;
  width:227px;
  height:75px;
}
#u1274_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1274_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1274.a.mouseOver {
}
#u1275.a {
  width:227px;
}
#u1276.a {
  left:101px;
  top:521px;
  width:539px;
  height:58px;
}
#u1276_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1276_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1276.a.mouseOver {
}
#u1277.a {
  width:539px;
}
#u1278.a {
  left:101px;
  top:630px;
  width:539px;
  height:58px;
}
#u1278_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1278_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1278.a.mouseOver {
}
#u1279.a {
  width:539px;
}
#u1280.a {
  left:101px;
  top:738px;
  width:539px;
}
#u1280_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1280_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:539px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1280.a.mouseOver {
}
#u1281.a {
  width:539px;
}
#u1283.a {
  left:499px;
  top:47px;
  width:79px;
  height:59px;
}
#u1283_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1284.a {
  top:22px;
  width:75px;
}
#u1285.a {
  left:499px;
  top:47px;
  width:79px;
  height:9px;
}
#u1285_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1286.a {
  top:-4px;
  width:75px;
}
#u1287.a {
  left:499px;
  top:97px;
  width:79px;
  height:9px;
}
#u1287_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288.a {
  top:-4px;
  width:75px;
}
#u1289.a {
  left:499px;
  top:72px;
  width:79px;
  height:9px;
}
#u1289_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1290.a {
  top:-4px;
  width:75px;
}
#u1292.a {
}
#u1292_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1292_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1292.a.mouseOver {
}
#u1293.a {
}
#u1294.a {
}
#u1294_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1294_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1294.a.mouseOver {
}
#u1295.a {
}
#u1296.a {
}
#u1296_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1296_div.mouseOver.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 202, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#797979;
}
#u1296.a.mouseOver {
}
#u1297.a {
}
